Conjunto de Dados

In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as pyplot
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

Carregando os Dados

In [2]:
df = pd.read_csv('dataset.csv')

In [3]:
df.shape

(500, 2)

In [4]:
df.columns

Index(['horas_estudo_mes', 'salario'], dtype='object')

In [5]:
df.head()

   horas_estudo_mes  salario
0              57.0   6813.0
1              48.0   6855.0
2              60.0   5801.0
3              73.0   7431.0
4              46.0   5475.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   horas_estudo_mes  500 non-null    float64
 1   salario           500 non-null    float64
dtypes: float64(2)
memory usage: 7.9 KB